mat-card {
  height: var(--app-standard-card-height);
  width: var(--app-standard-card-width);
  overflow-y: auto;

  mat-card-header {
    font-weight: var(--app-font-weight-bold);
    padding: var(--app-standard-padding);
  }

  mat-card-content {
    padding: 0 0 0 var(--app-standard-padding);
    text-overflow: ellipsis;
    max-width: var(--app-standard-card-width);
    overflow: hidden;
    white-space: nowrap;
  }

  p {
    display: inline-flex;
    .medium-bolded-paragraph{
      font-weight: var(--app-font-weight-medium);
    }
  }
}
