.game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--app-standard-padding);
  height: var(--app-standard-game-area-height);
}

h4 {
  padding-top: var(--app-standard-padding);
}

.player{
  width: var(--app-standard-card-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center ;
}
.mat-form-field, .play_button, h3, h4{
  display: flex;
  justify-self: center;
}

mat-spinner {
  margin: auto;
}
