.game-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

h4{
  display: flex;
  justify-self: center;
  padding-top: 30px;;
}
.play_button{
  display: flex;
  justify-self: center;
}
