/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --app-standard-card-width: 500px;
  --app-standard-card-height: 700px;
  --app-standard-padding: 30px;
  --app-font-weight-bold: 700;
  --app-font-weight-medium: 500;
}
